In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
import string

# Load the dataset

In [2]:
df=pd.read_csv('train_new.csv')

In [3]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404290 non-null  int64
 1   qid1          404290 non-null  int64
 2   qid2          404290 non-null  int64
 3   question1     404289 non-null  object
 4   question2     404288 non-null  object
 5   is_duplicate  404290 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [5]:
df.describe()

                  id           qid1           qid2   is_duplicate
count  404290.000000  404290.000000  404290.000000  404290.000000
mean   202144.500000  217243.942418  220955.655337       0.369198
std    116708.614502  157751.700002  159903.182629       0.482588
min         0.000000       1.000000       2.000000       0.000000
25%    101072.250000   74437.500000   74727.000000       0.000000
50%    202144.500000  192182.000000  197052.000000       0.000000
75%    303216.750000  346573.500000  354692.500000       1.000000
max    404289.000000  537932.000000  537933.000000       1.000000

In [6]:
df.dropna(subset=['question1', 'question2'], inplace=True)

In [7]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\keshav.bajaj\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [8]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\keshav.bajaj\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\keshav.bajaj\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\keshav.bajaj\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [9]:
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

In [10]:
def preprocess_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation))
    tokens = word_tokenize(text)
    tokens = [lemmatizer.lemmatize(token) for token in tokens if token not in stop_words]
    processed_text = ' '.join(tokens)
    return processed_text

In [12]:
df['question1'] = df['question1'].apply(preprocess_text)
df['question2'] = df['question2'].apply(preprocess_text)

# Print preprocessed question pairs
print(df[['question1', 'question2']])

                                                question1  \
0               step step guide invest share market india
1                         story kohinoor kohinoor diamond
2            increase speed internet connection using vpn
3                                   mentally lonely solve
4       one dissolve water quikly sugar salt methane c...
...                                                   ...
404285  many keywords racket programming language late...
404286                                 believe life death
404287                                           one coin
404288  approx annual cost living studying uic chicago...
404289                                    like sex cousin

                                                question2
0                     step step guide invest share market
1       would happen indian government stole kohinoor ...
2                    internet speed increased hacking dns
3                find remainder math2324math divided 2423
4                           fish would survive salt water
...                                                   ...
404285  many keywords perl programming language latest...
404286                                    true life death
404287                                         whats coin
404288  little hairfall problem want use hair styling ...
404289                                    like sex cousin

[404287 rows x 2 columns]

In [16]:
vectorizer = TfidfVectorizer(max_features=10000)
X = vectorizer.fit_transform(df['question1'] + ' ' + df['question2'])

# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, df['is_duplicate'], test_size=0.2, random_state=42)

# Train a logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict similarity for test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Predict similarity for new question pairs
new_questions = ["What is the best way to lose weight?", "How can I improve my fitness level?"]
new_question_vectors = vectorizer.transform(new_questions)
new_predictions = model.predict(new_question_vectors)
print("Predictions for new question pairs:", new_predictions)

Accuracy: 0.7441811570902075
Predictions for new question pairs: [1 0]

C:\Users\keshav.bajaj\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [17]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['question1'] + ' ' + df['question2'])

# Print TF-IDF vectors
print(X.toarray())
print(X[:5, :5].toarray())

MemoryError: Unable to allocate 302. GiB for an array with shape (404287, 100152) and data type float64