In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [26]:
df=pd.read_csv("data.csv")

In [27]:
df.head()

   Patient_ID   Blood_Pressure_Before   Blood_Pressure_After
0           1                     130                    120
1           2                     142                    135
2           3                     120                    118
3           4                     135                    127
4           5                     148                    140

In [28]:
new_columns = ['Patient_ID', 'Before_BP', 'After_BP']

In [29]:
df.columns = new_columns

In [30]:
print(df.columns)
print(df.dtypes)

Index(['Patient_ID', 'Before_BP', 'After_BP'], dtype='object')
Patient_ID    int64
Before_BP     int64
After_BP      int64
dtype: object

to check the distribution of all columns we can perform the t-test or z score 
and we can observe that the assumption of the two test follow the same mean.that is the null hypothesis is acceptable or not

In [31]:
t_statistic, p_value = stats.ttest_rel(Before_BP, After_BP)

NameError: name 'Before_BP' is not defined